body {
  background: rgb(241, 197, 234);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.a {
  flex-grow: 1;
  border: 2px solid rgb(201, 37, 65);
  margin: 20px;
}

.b {
  flex-grow: 3;
  border: 2px solid rgb(201, 37, 65);
  margin: 20px;
}

.c {
  flex-grow: 1;
  border: 2px solid rgb(201, 37, 65);
  margin: 20px;
}

@media (min-width: 600px) {

  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }

  .a, .b, .c {
    margin: 1em;
  }
}